<!-- Portfolio Grid-->
<section class="page-section bg-black" id="portfolio">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">DECORATIVOS</h2>
          <h3 class="section-subheading text-muted">Articulos para decorar tus fiestas.</h3>
      </div>
      <div class="row">
          <div class="col-lg-6 col-sm-6 mb-6">
              <!-- Portfolio item 1-->
              <div class="portfolio-item">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"></div>
                      </div>
                      <img class="img-fluid" src="assets/fiestas/plato1.PNG" alt="..." />
                  <div class="portfolio-caption">
                    <div class="portfolio-caption-heading"><h3>Plato Pastelero<h5>Precio: $30 pesos el paquete (menudeo).</h5><h5>¡Pregunta por el precio al mayoreo!</h5></h3></div>
                    <div class="portfolio-caption-subheading text-muted">Contenido: 10 platos por paquete</div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-sm-6 mb-6">
              <!-- Portfolio item 2-->
              <div class="portfolio-item">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"></div>
                </div>
                <img class="img-fluid" src="assets/fiestas/plato2.PNG" alt="..." />
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading"><h3>Plato Pastelero<h5>Precio: $30 pesos el paquete (menudeo).</h5><h5>¡Pregunta por el precio al mayoreo!</h5></h3></div>
                    <div class="portfolio-caption-subheading text-muted">Contenido: 10 platos por paquete</div>
                </div>
        </div>
          </div>
          <div class="col-lg-6 col-sm-6 mb-6">
              <!-- Portfolio item 3-->
              <div class="portfolio-item">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"></div>
                </div>
                    <img class="img-fluid" src="assets/fiestas/plato3.PNG" alt="..." />               
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading"><h3>Plato Pastelero<h5>Precio: $30 pesos el paquete (menudeo).</h5><h5>¡Pregunta por el precio al mayoreo!</h5></h3></div>
                    <div class="portfolio-caption-subheading text-muted">Contenido: 10 platos por paquete</div>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 mb-6">
              <!-- Portfolio item 4-->
              <div class="portfolio-item">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"></div>
                </div>
                    <img class="img-fluid" src="assets/fiestas/plato4.PNG" alt="..." />                
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading"><h3>Plato Pastelero<h5>Precio: $30 pesos el paquete (menudeo).</h5><h5>¡Pregunta por el precio al mayoreo!</h5></h3></div>
                <div class="portfolio-caption-subheading text-muted">Contenido: 10 platos por paquete</div>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 mb-6">
              <!-- Portfolio item 5-->
              <div class="portfolio-item">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"></div>
                </div>
                    <img class="img-fluid" src="assets/fiestas/plato5.PNG" alt="..." />            
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading"><h3>Plato Pastelero<h5>Precio: $30 pesos el paquete (menudeo).</h5><h5>¡Pregunta por el precio al mayoreo!</h5></h3></div>
                <div class="portfolio-caption-subheading text-muted">Contenido: 10 platos por paquete</div>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 mb-6">
              <!-- Portfolio item 6-->
              <div class="portfolio-item">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"></div>
                </div>
                    <img class="img-fluid" src="assets/fiestas/plato6.PNG" alt="..." />                
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading"><h3>Plato Pastelero<h5>Precio: $30 pesos el paquete (menudeo).</h5><h5>¡Pregunta por el precio al mayoreo!</h5></h3></div>
                <div class="portfolio-caption-subheading text-muted">Contenido: 10 platos por paquete</div>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 mb-6">
            <!-- Portfolio item 7-->
            <div class="portfolio-item">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"></div>
                </div>
                  <img class="img-fluid" src="assets/fiestas/plato7.PNG" alt="..." />              
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading"><h3>Plato Pastelero<h5>Precio: $30 pesos el paquete (menudeo).</h5><h5>¡Pregunta por el precio al mayoreo!</h5></h3></div>
                <div class="portfolio-caption-subheading text-muted">Contenido: 10 platos por paquete</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 mb-6">
            <!-- Portfolio item 8-->
            <div class="portfolio-item">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"></div>
                </div>
                  <img class="img-fluid" src="assets/fiestas/plato8.PNG" alt="..." />              
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading"><h3>Plato Pastelero<h5>Precio: $30 pesos el paquete (menudeo).</h5><h5>¡Pregunta por el precio al mayoreo!</h5></h3></div>
                <div class="portfolio-caption-subheading text-muted">Contenido: 10 platos por paquete</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 mb-6">
            <!-- Portfolio item 9-->
            <div class="portfolio-item">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"></div>
                </div>
                  <img class="img-fluid" src="assets/fiestas/vaso1.png" alt="..." />              
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading"><h3>Vaso Decorativo<h5>Precio: $30 pesos el paquete (menudeo).</h5><h5>¡Pregunta por el precio al mayoreo!</h5></h3></div>
                <div class="portfolio-caption-subheading text-muted">Contenido: 10 vasos por paquete</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 mb-6">
            <!-- Portfolio item 10-->
            <div class="portfolio-item">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"></div>
                </div>
                  <img class="img-fluid" src="assets/fiestas/VASO2.png" alt="..." />              
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading"><h3>Vaso Decorativo<h5>Precio: $30 pesos el paquete (menudeo).</h5><h5>¡Pregunta por el precio al mayoreo!</h5></h3></div>
                <div class="portfolio-caption-subheading text-muted">Contenido: 10 vasos por paquete</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 mb-6">
            <!-- Portfolio item 11-->
            <div class="portfolio-item">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"></div>
                </div>
                  <img class="img-fluid" src="assets/fiestas/vaso3.png" alt="..." />              
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading"><h3>Vaso Decorativo<h5>Precio: $30 pesos el paquete (menudeo).</h5><h5>¡Pregunta por el precio al mayoreo!</h5></h3></div>
                <div class="portfolio-caption-subheading text-muted">Contenido: 10 vasos por paquete</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 mb-6">
            <!-- Portfolio item 12-->
            <div class="portfolio-item">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"></div>
                </div>
                  <img class="img-fluid" src="assets/fiestas/vaso4.png" alt="..." />              
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading"><h3>Vaso Decorativo<h5>Precio: $30 pesos el paquete (menudeo).</h5><h5>¡Pregunta por el precio al mayoreo!</h5></h3></div>
                <div class="portfolio-caption-subheading text-muted">Contenido: 10 vasos por paquete</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 mb-6">
            <!-- Portfolio item 13-->
            <div class="portfolio-item">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content"></div>
                </div>
                  <img class="img-fluid" src="assets/fiestas/vaso5.png" alt="..." />              
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading"><h3>Vaso Decorativo<h5>Precio: $30 pesos el paquete (menudeo).</h5><h5>¡Pregunta por el precio al mayoreo!</h5></h3></div>
                <div class="portfolio-caption-subheading text-muted">Contenido: 10 vasos por paquete</div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
