<!-- Portfolio Grid-->

<hr>
<section class="page-section bg-black" id="portfolio">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Globos de Latex</h2>
          <h3 class="section-subheading text-muted">Variedad de colores, tamaños(#5,#7 y #9) y diseños.</h3>
      </div>
      <div class="row">
          <div class="col-lg-4 col-sm-6 mb-4">
              <!-- Portfolio item 1-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/globos latex/globos-blue.jpg" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading"><h5>Globo latex redondo número #9</h5></div>
                      <div class="portfolio-caption-subheading text-muted"><h6>Color azul cielo, contiene 100 piezas</h6></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
              <!-- Portfolio item 2-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/globos latex/globos-colors-normal.jpg" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading"><h5>Globo latex redondo número #9</h5></div>
                      <div class="portfolio-caption-subheading text-muted"><h6>Color varios colores, contiene 100 piezas</h6></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
              <!-- Portfolio item 3-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/globos latex/globos-morado.jpg" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading"><h5>Globo latex redondo número #9</h5></div>
                      <div class="portfolio-caption-subheading text-muted"><h6>Color morado, contiene 100 piezas</h6></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
              <!-- Portfolio item 4-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/globos latex/globos-negro.jpg" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading"><h5>Globo latex redondo número #9</h5></div>
                      <div class="portfolio-caption-subheading text-muted"><h6>Color negro, contiene 100 piezas</h6></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
              <!-- Portfolio item 5-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/globos latex/globos-rosa_blanco.jpg" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading"><h5>Globo latex redondo número #9</h5></div>
                      <div class="portfolio-caption-subheading text-muted"><h6>Color rosa-pastel con blanco, contiene 50 globos blancos y 50 rosas</h6></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <!-- Portfolio item 6-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/globos latex/globos-azul_blanco.jpg" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading"><h5>Globo latex redondo número #9</h5></div>
                      <div class="portfolio-caption-subheading text-muted"><h6>Color azul-cielo con blanco, contiene 50 globos blancos y 50 azules</h6></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Globo #9</h2>
                                    <img class="img-fluid d-block mx-auto" src="assets/globos latex/globos-blue.jpg" alt="..." />
                                    <p>Bolsa que contiene 100 globos de latex del numero #9, ideal para la decoración de fiestas. Precio, calidad y resistencia.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Marca:</strong>
                                            Kalú
                                        </li>
                                        <li>
                                            <strong>Color:</strong>
                                            Azul Cielo
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Globo #9</h2>
                                    <img class="img-fluid d-block mx-auto" src="assets/globos latex/globos-colors-normal.jpg" alt="..." />
                                    <p>Bolsa que contiene 100 globos de latex del numero #9, ideal para la decoración de fiestas. Precio, calidad y resistencia.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Marca:</strong>
                                            Kalú
                                        </li>
                                        <li>
                                            <strong>Color:</strong>
                                            Varios Colores (Surtido)
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Globo #9</h2>
                                    <img class="img-fluid d-block mx-auto" src="assets/globos latex/globos-morado.jpg" alt="..." />
                                    <p>Bolsa que contiene 100 globos de latex del numero #9, ideal para la decoración de fiestas. Precio, calidad y resistencia.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Marca:</strong>
                                            Kalú
                                        </li>
                                        <li>
                                            <strong>Color:</strong>
                                            Morado Claro
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 4 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Globo #9</h2>
                                    <img class="img-fluid d-block mx-auto" src="assets/globos latex/globos-negro.jpg" alt="..." />
                                    <p>Bolsa que contiene 100 globos de latex del numero #9, ideal para la decoración de fiestas. Precio, calidad y resistencia.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Marca:</strong>
                                            Kalú
                                        </li>
                                        <li>
                                            <strong>Color:</strong>
                                            Negro
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 5 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Globo #9</h2>
                                    <img class="img-fluid d-block mx-auto" src="assets/globos latex/globos-rosa_blanco.jpg" alt="..." />
                                    <p>Bolsa que contiene 50 globos rosa pastel y 50 globos blancos de latex del numero #9, ideal para la decoración de fiestas. Precio, calidad y resistencia.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Marca:</strong>
                                            Kalú
                                        </li>
                                        <li>
                                            <strong>Color:</strong>
                                            Rosa Pastel con Blanco
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 6 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Globo #9</h2>
                                    <img class="img-fluid d-block mx-auto" src="assets/globos latex/globos-azul_blanco.jpg" alt="..." />
                                    <p>Bolsa que contiene 50 globos azul cielo y 50 globos blancos de latex del numero #9, ideal para la decoración de fiestas. Precio, calidad y resistencia.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Marca:</strong>
                                            Kalú
                                        </li>
                                        <li>
                                            <strong>Color:</strong>
                                            Azul Cielo con Blanco
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>