<!----------------------------------------------------------------------PRIMERA SECCION DE 6 IMAGENES--------------------------------------------------------------------------->
<hr>
<section class="page-section bg-black" id="portfolio">
  <div class="container">
      <div class="text-center">
          <h1 class="section-heading text-uppercase">Sets de Globos Metalicos</h1>
          <h3 class="section-subheading text-muted">Variedad de Personajes, Tamaños y Modelos.</h3>
      </div>
      <div class="row">
          <div class="col-lg-4 col-sm-6 mb-4">
              <!-- Portfolio item 1-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/sets globometal/set_globometalico-rosa.jpg" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading"><h5>Set de globos metalicos y globos de latex</h5></div>
                      <div class="portfolio-caption-subheading text-muted"><h6>Color Rosa convinaciones con tonos rosas, contiene 1 paquete con 12 globos</h6></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
              <!-- Portfolio item 2-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/sets globometal/set_globometalico-azul.jpg" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading"><h5>Set de globos metalicos y globos de latex</h5></div>
                      <div class="portfolio-caption-subheading text-muted"><h6>Color Azul Rey y Azul cielo, contiene 1 paquete con 5 globos confeti, 5 globos azules rey y 5 globos azules cielo</h6></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
              <!-- Portfolio item 3-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/sets globometal/set_globometalico-morado.jpg" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                    <div class="portfolio-caption-heading"><h5>Set de globos metalicos y globos de latex</h5></div>
                    <div class="portfolio-caption-subheading text-muted"><h6>Color Morado convinaciones con blanco, contiene 1 paquete con 12 globos</h6></div>
                </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
              <!-- Portfolio item 4-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/sets globometal/set_globometalico-negro.jpg" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                    <div class="portfolio-caption-heading"><h5>Set de globos metalicos y globos de latex</h5></div>
                    <div class="portfolio-caption-subheading text-muted"><h6>Color Negro convinaciones con gris y dorado, contiene 1 paquete con 12 globos</h6></div>
                </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
              <!-- Portfolio item 5-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/sets globometal/set_globometalico-oro.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                      <div class="portfolio-caption-heading"><h5>Set de globos metalicos y globos de latex</h5></div>
                      <div class="portfolio-caption-subheading text-muted"><h6>Color Oro convinaciones con tonos dorados, contiene 1 paquete con 12 globos</h6></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <!-- Portfolio item 6-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/sets globometal/set_globometalico-plata.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                      <div class="portfolio-caption-heading"><h5>Set de globos metalicos y globos de latex</h5></div>
                      <div class="portfolio-caption-subheading text-muted"><h6>Color Plata convinaciones con tonos platas, contiene 1 paquete con 12 globos</h6></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Set de Globos Metalicos</h2>
                                    <img class="img-fluid d-block mx-auto" src="assets/sets globometal/set_globometalico-rosa.jpg" alt="..." />
                                    <p>Set de globos metalicos en tonos rosas, ideal para decorar fiestas y eventos. Calidad, Resistencia y Precio.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Tamaño:</strong>
                                            #9 y #12
                                        </li>
                                        <li>
                                            <strong>Color:</strong>
                                            Tonos Rosas
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Set de Globos Metalicos</h2>
                                    <img class="img-fluid d-block mx-auto" src="assets/sets globometal/set_globometalico-azul.jpg" alt="..." />
                                    <p>Set de globos metalicos en tonos Azules, ideal para decorar fiestas y eventos. Calidad, Resistencia y Precio.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Tamaño:</strong>
                                            #9 y #12
                                        </li>
                                        <li>
                                            <strong>Color:</strong>
                                            Tonos Azules
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Set de Globos Metalicos</h2>
                                    <img class="img-fluid d-block mx-auto" src="assets/sets globometal/set_globometalico-morado.jpg" alt="..." />
                                    <p>Set de globos metalicos en tonos Morados, ideal para decorar fiestas y eventos. Calidad, Resistencia y Precio.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Tamaño:</strong>
                                            #9 y #12
                                        </li>
                                        <li>
                                            <strong>Color:</strong>
                                            Tonos Morados
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 4 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Set de Globos Metalicos</h2>
                                    <img class="img-fluid d-block mx-auto" src="assets/sets globometal/set_globometalico-negro.jpg" alt="..." />
                                    <p>Set de globos metalicos en tonos Negros, ideal para decorar fiestas y eventos. Calidad, Resistencia y Precio.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Tamaño:</strong>
                                            #9 y #12
                                        </li>
                                        <li>
                                            <strong>Color:</strong>
                                            Tonos Negros
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 5 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Set de Globos Metalicos</h2>
                                    <img class="img-fluid d-block mx-auto" src="assets/sets globometal/set_globometalico-oro.jpg" alt="..." />
                                    <p>Set de globos metalicos en tonos Oro, ideal para decorar fiestas y eventos. Calidad, Resistencia y Precio.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Tamaño:</strong>
                                            #9 y #12
                                        </li>
                                        <li>
                                            <strong>Color:</strong>
                                            Tonos Oro
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 6 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Set de Globos Metalicos</h2>
                                    <img class="img-fluid d-block mx-auto" src="assets/sets globometal/set_globometalico-plata.jpg" alt="..." />
                                    <p>Set de globos metalicos en tonos Plata, ideal para decorar fiestas y eventos. Calidad, Resistencia y Precio.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Tamaño:</strong>
                                            #9 y #12
                                        </li>
                                        <li>
                                            <strong>Color:</strong>
                                            Tonos Plata
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!----------------------------------------------------------------------SEGUNDA SECCION DE 6 IMAGENES--------------------------------------------------------------------------->  

<section class="page-section bg-black" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 7--><hr>
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal7">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/sets globometal/set_globometalico-negrodorado.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"><h5>Set de globos metalicos y globos de latex</h5></div>
                      <div class="portfolio-caption-subheading text-muted"><h6>Color Oro convinaciones con tonos Negros, contiene 1 paquete con 16 globos</h6></div>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 8--><hr>
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal8">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/sets globometal/set_globometalico-plata2.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"><h5>Set de globos metalicos y globos de latex</h5></div>
                      <div class="portfolio-caption-subheading text-muted"><h6>Color Plata, contiene 1 paquete con 8 globos</h6></div>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 9--><hr>
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal9">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/sets globometal/set_globometalico-rojo.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"><h5>Set de globos metalicos y globos de latex</h5></div>
                      <div class="portfolio-caption-subheading text-muted"><h6>Color Rojo, contiene 1 paquete con 10 globos</h6></div>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 10-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal10">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/sets globometal/set_globometalico-rosa2.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"><h5>Set de globos metalicos y globos de latex</h5></div>
                      <div class="portfolio-caption-subheading text-muted"><h6>Color Rosa Gold, contiene 1 paquete con 8 globos</h6></div>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 11-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal11">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/sets globometal/set_globometalico-corazonesclaro.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"><h5>Set de globos metalicos en forma de corazon y redondos</h5></div>
                      <div class="portfolio-caption-subheading text-muted"><h6>Varios colores en tonos claros, contiene 1 paquete con 16 globos</h6></div>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 12-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal12">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/sets globometal/set_globometalico-corazonrojo.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"><h5>Set de globos metalicos en forma de corazon</h5></div>
                      <div class="portfolio-caption-subheading text-muted"><h6>Color rojo convinaciones con tonos dorados, contiene 1 paquete con 8 globos</h6></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  <!-- Portfolio Modals-->
          <!-- Portfolio item 1 modal popup-->
          <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                      <div class="container">
                          <div class="row justify-content-center">
                              <div class="col-lg-8">
                                  <div class="modal-body">
                                      <!-- Project details-->
                                      <h2 class="text-uppercase">Metalico "Feliz Cumpleaños"</h2>
                                      <img class="img-fluid d-block mx-auto" src="assets/sets de letras/set_feliz_azulpuntos.jpg" alt="..." />
                                      <p>Set de globos metalicos en forma de letra "FELIZ CUMPLEAÑOS", ideal para decorar fiestas de cumpleaños. Calidad, Resistencia y Precio.</p>
                                      <ul class="list-inline">
                                          <li>
                                              <strong>Tamaño:</strong>
                                              16'' pulgadas
                                          </li>
                                          <li>
                                              <strong>Color:</strong>
                                              Azul Cielo con Puntos blancos
                                          </li>
                                      </ul>
                                      <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                          <i class="fas fa-xmark me-1"></i>
                                          Cerrar
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Portfolio item 2 modal popup-->
          <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                      <div class="container">
                          <div class="row justify-content-center">
                              <div class="col-lg-8">
                                  <div class="modal-body">
                                      <!-- Project details-->
                                      <h2 class="text-uppercase">Metalico "Feliz Cumpleaños"</h2>
                                      <img class="img-fluid d-block mx-auto" src="assets/sets de letras/set_feliz_colores.jpg" alt="..." />
                                      <p>Set de globos metalicos en forma de letra "FELIZ CUMPLEAÑOS", ideal para decorar fiestas de cumpleaños. Calidad, Resistencia y Precio.</p>
                                      <ul class="list-inline">
                                          <li>
                                              <strong>Tamaño:</strong>
                                              16'' pulgadas
                                          </li>
                                          <li>
                                              <strong>Color:</strong>
                                              Varios Colores Tono Normal
                                          </li>
                                      </ul>
                                      <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                          <i class="fas fa-xmark me-1"></i>
                                          Cerrar
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Portfolio item 3 modal popup-->
          <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                      <div class="container">
                          <div class="row justify-content-center">
                              <div class="col-lg-8">
                                  <div class="modal-body">
                                      <!-- Project details-->
                                      <h2 class="text-uppercase">Metalico "Feliz Cumpleaños"</h2>
                                      <img class="img-fluid d-block mx-auto" src="assets/sets de letras/set_feliz_colorespastel.jpg" alt="..." />
                                      <p>Set de globos metalicos en forma de letra "FELIZ CUMPLEAÑOS", ideal para decorar fiestas de cumpleaños. Calidad, Resistencia y Precio.</p>
                                      <ul class="list-inline">
                                          <li>
                                              <strong>Tamaño:</strong>
                                              16'' pulgadas
                                          </li>
                                          <li>
                                              <strong>Color:</strong>
                                              Varios colores Tono Pastel
                                          </li>
                                      </ul>
                                      <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                          <i class="fas fa-xmark me-1"></i>
                                          Cerrar
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Portfolio item 4 modal popup-->
          <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                      <div class="container">
                          <div class="row justify-content-center">
                              <div class="col-lg-8">
                                  <div class="modal-body">
                                      <!-- Project details-->
                                      <h2 class="text-uppercase">Metalico "Feliz Cumpleaños"</h2>
                                      <img class="img-fluid d-block mx-auto" src="assets/sets de letras/set_feliz_colorescursiva.jpg" alt="..." />
                                      <p>Set de globos metalicos en forma de letra "FELIZ CUMPLEAÑOS", ideal para decorar fiestas de cumpleaños. Calidad, Resistencia y Precio.</p>
                                      <ul class="list-inline">
                                          <li>
                                              <strong>Tamaño:</strong>
                                              16'' pulgadas
                                          </li>
                                          <li>
                                              <strong>Color:</strong>
                                              Varios colores Tono Normal
                                          </li>
                                      </ul>
                                      <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                          <i class="fas fa-xmark me-1"></i>
                                          Cerrar
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Portfolio item 5 modal popup-->
          <div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                      <div class="container">
                          <div class="row justify-content-center">
                              <div class="col-lg-8">
                                  <div class="modal-body">
                                      <!-- Project details-->
                                      <h2 class="text-uppercase">Metalico "Feliz Cumpleaños"</h2>
                                      <img class="img-fluid d-block mx-auto" src="assets/sets de letras/set_feliz_rojo.jpg" alt="..." />
                                      <p>Set de globos metalicos en forma de letra "FELIZ CUMPLEAÑOS", ideal para decorar fiestas de cumpleaños. Calidad, Resistencia y Precio.</p>
                                      <ul class="list-inline">
                                          <li>
                                              <strong>Tamaño:</strong>
                                              16'' pulgadas
                                          </li>
                                          <li>
                                              <strong>Color:</strong>
                                              Rojo
                                          </li>
                                      </ul>
                                      <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                          <i class="fas fa-xmark me-1"></i>
                                          Cerrar
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Portfolio item 6 modal popup-->
          <div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="" /></div>
                      <div class="container">
                          <div class="row justify-content-center">
                              <div class="col-lg-8">
                                  <div class="modal-body">
                                      <!-- Project details-->
                                      <h2 class="text-uppercase">Metalico "Feliz Cumpleaños"</h2>
                                      <img class="img-fluid d-block mx-auto" src="assets/sets de letras/baby-azul.jpg" alt="..." />
                                      <p>Set de globos metalicos en forma de letra "BABY SHOWER", ideal para decorar baby showers. Calidad, Resistencia y Precio.</p>
                                      <ul class="list-inline">
                                          <li>
                                              <strong>Tamaño:</strong>
                                              16'' pulgadas
                                          </li>
                                          <li>
                                              <strong>Color:</strong>
                                              Azul Cielo
                                          </li>
                                      </ul>
                                      <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                          <i class="fas fa-xmark me-1"></i>
                                          Cerrar
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>